.all-meet {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem;
  /* flex-direction: column; */
}

.main-head {
  margin-left: 1rem;
  margin-top: 1rem;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
